nav {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
}

.logo {
    grid-column: 1;
    font-family:  'Work Sans', sans-serif;;
    font-weight: 700;
    font-size: 16px; /* Adjust the value as per your preference */
    margin-left: 6px;
}

.profile-logo {
  grid-column: 3;
  justify-self: end;
  margin-right: 24px;
}


.nav-links {
    display: grid;
    grid-column: 2;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    justify-content: space-around;
    font-family:  'Work Sans', sans-serif;;
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
}

main.h1 {

}

.container {
    grid-column: 2;
    justify-content: space-around;
}

.projectcard {
    display: grid;
    width: 640px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projectcard p {
    margin: 1px;
}

.projectcard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}

img.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.hero-title{
  display: flex;
  justify-content: center;
}

.hero-card {

    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    font-family: Arial, sans-serif;
  }

  .hero-text {
    width: 50%;
  }

  .hero-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero-description {
    margin-bottom: 2rem;
    line-height: 1.6;
    width: 400px;
  }

  .hero-buttons {
    margin-bottom: 1rem;
  }

  .button {
    padding: 0.8rem 1.2rem;
    margin-right: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #555;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  .hero-image img {
    height: auto;
    width: auto;
    border-radius: 8px;
  }
pre {
    max-width: 800px; 
    max-height: 500px;
    overflow-x: auto; 
    margin: 20px 0; 
    border-radius: 4px; 
    background-color: black;
}

code {
    font-family: 'Source Code Pro', monospace;
    padding: 8px;
    display: block;
    color: white;
}
