{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <p class="logo">HackReact Connect 🤝</p>
            <div class="nav-links">
                <a href="{% url "home" %}">Home</a>
                <a href="{% url "project_list" %}">Projects</a>
                <a href="{% url "create" %}">Create Project</a>
            </div>
            <p class="profile-logo">👤</p>
        </nav>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>
