{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Login</button>
</form>

<pre><code class="language-python">
    from django.db import models
    from profiles.models import Profile
    
    # Create your models here.
    
    class Technology(models.Model):
        name = models.CharField(max_length=50)
    
        def __str__(self):
            return self.name
    
    
    class Project(models.Model):
        MODULE_CHOICES = [
            ('Module 1', 'Module 1'),
            ('Module 2', 'Module 2'),
            ('Module 3', 'Module 3'),
            ('Other', 'Other'),
        ]
    
        title = models.CharField(max_length=100)
        description = models.TextField()
        project_link = models.URLField(blank=True)
        image_url = models.URLField(blank=True, null=True)
        contributors = models.ManyToManyField(Profile, related_name='projects')
        module = models.CharField(max_length=20, choices=MODULE_CHOICES)
        technologies = models.ManyToManyField(Technology, related_name='projects', blank=True, default="Unknown")
    
        
    
</code></pre>
<li><a href="https://docs.djangoproject.com/en/4.2/ref/models/fields/#manytomanyfield">Many To Many</a></li>
<li><a href="https://docs.djangoproject.com/en/4.2/ref/models/fields/#choices">Field.choices</a></li>
<pre><code class="language-python">
    from django import forms
    from .models import Project, Technology

    class ProjectForm(forms.ModelForm):
    class Meta:
        model = Project
        fields = ['title', 'description', 'project_link', 'image_url', 'contributors', 'module', 'technologies']
    
    technologies = forms.ModelMultipleChoiceField(
        queryset=Technology.objects.all(),
        widget=forms.CheckboxSelectMultiple,
        required=False
    )

    </code></pre>
    <li><a href="https://docs.djangoproject.com/en/4.2/ref/forms/widgets/#checkboxinput">CheckboxInput</a></li>

{% endblock %}
