{% extends "base.html" %}

{% block content %}
<h1 class="hero-title">HackReact Connect 🤝</h1>
<div class="hero-card">
    <div class="hero-text">
      <h1 class="hero-heading">Connect, Collaborate, and Create!</h1>
      <p class="hero-description">Welcome to the community hub for Hack Reactor alumni! 
        <li>Showcase your latest projects</li>
        <li>Get Inspiration</li>
        <li>Find Connections</li></p>
      <div class="hero-buttons">
        <button class="button">Sign Up</button>
        <button class="button">Log In</button>
      </div>
    </div>
    <div class="hero-image">

      <img src="https://loremflickr.com/400/600/engineers,meeting/all" alt="Hero Image">
    </div>
  </div>

{% endblock %}
