{% extends "base.html" %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <div class="projectcard">

        <p>By 
            {% for contributor in project.contributors.all %}
                {{ contributor.fullname }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No contributors listed.
            {% endfor %}
        </p>
        <img src="{{ project.image_url}}" alt="">
        <p>Tech Stack:
            {% for tech in project.technologies.all %}
                {{ tech.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                None
            {% endfor %}
        </p>
        <p><a href="{{ project.project_link }}">Project Link</a></p>
        <p>{{ project.description }}</p>
    </div>
{% endblock %}
