{% extends 'base.html' %}

{% block content %}
  <h1>Latest Projects</h1>

  {% for project in projects %}
    <div class="projectcard">
      <h2><a href="{% url 'detail' pk=project.pk %}">{{ project.title }}</a></h2>
      <p>{{ project.module }}</p>
      <p>
        By{% for contributor in project.contributors.all %}
          <img class="profile-icon" src="{{ contributor.profile_pic }}" alt="" />
          {{ contributor.fullname }}{% if not forloop.last %}, {% endif %}
          {% empty %}No contributors listed.
        {% endfor %}
      </p>
      <img src="{{ project.image_url }}" alt="" />
      <p>Tech Stack:
        {% for tech in project.technologies.all %}
            {{ tech.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            None
        {% endfor %}
    </p>
    
      <p>{{ project.description }}</p>
    </div>
  {% endfor %}
{% endblock %}
